.loginnav {
  display: flex;
  gap: 2rem;
  margin-top: -3rem;
  font-size: 2rem;
  list-style: none;
  margin-left: 5rem;
  color: #311465;
}

.anch:link,
.anch:visited {
  color: #311465;
  text-decoration: none;
  border-bottom: 1px solid #311465;
  padding-bottom: 1px;
  transition: border-bottom 0.2s, color 0.2s;
}
.anch:hover,
.anch:active {
  color: #311465;
  text-decoration: none;
  border-bottom: 3px solid #311465;
  padding-bottom: 1px;
  transition: border-bottom 0.2s, color 0.2s;
}
