.backer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%; 
  background-color: rgba(0, 0, 0, 0.5); 
 
  display: flex;
  justify-content: center;
  align-items: center;
}

.formContainer2 {
  background-color: rgb(49, 20, 102);

  color: white;
  width: 40%;
  border-radius: 10rem;

  padding: 3rem;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .formContainer {
    width: auto;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .formContainer {
    width: auto;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .formContainer {
    width: auto;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .formContainer {
    width: auto;
  }
}

@media screen and (min-width: 1201px) {
}







 