.formstyle3 {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.formstyle3 label {
  display: block;
  margin-bottom: 10px;
}

.divider {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}
.formstyle3 label > span {
  float: left;
  width: 100%;
  color: #311465;
  font-weight: bold;
  font-size: 13px;
  text-shadow: 1px 1px 1px #fff;
}
.formstyle3 fieldset {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  margin: 0px 0px 10px 0px;
  border: 1px solid #311465;
  padding: 20px;
  background: #9876d8;
  box-shadow: inset 0px 0px 15px #311465;
  -moz-box-shadow: inset 0px 0px 15px #493b63;
  -webkit-box-shadow: inset 0px 0px 15px #311465;
}
.formstyle3 fieldset legend {
  color: #311465;
  border-top: 1px solid #311465;
  border-left: 1px solid #311465;
  border-right: 1px solid #311465;
  border-radius: 5px 5px 0px 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  background: #b79de7;
  padding: 0px 8px 3px 8px;
  box-shadow: -0px -1px 2px #f1f1f1;
  -moz-box-shadow: -0px -1px 2px #f1f1f1;
  -webkit-box-shadow: -0px -1px 2px #f1f1f1;
  font-weight: normal;
  font-size: 12px;
}

.center {
  text-align: center;
}
.customselect {
  width: auto;
  padding: 5px;
  font-size: 12px;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 10px;
}
.formstyle3 textarea {
  width: 150px;
  height: 50px;
}
.formstyle3 input[type="text"],
.formstyle3 input[type="date"],
.formstyle3 input[type="datetime"],
.formstyle3 input[type="number"],
.formstyle3 input[type="search"],
.formstyle3 input[type="time"],
.formstyle3 input[type="url"],
.formstyle3 input[type="email"],
.formstyle3 select,
.formstyle3 textarea {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border: 1px solid #311465;
  outline: none;
  color: #311465;
  padding: 2px 8px 2px 8px;
  box-shadow: inset 1px 1px 4px #311465;
  -moz-box-shadow: inset 1px 1px 4px #311465;
  -webkit-box-shadow: inset 1px 1px 4px #311465;
  background: #efeff0;
  width: 100%;
}
.formstyle3 input[type="submit"],
.formstyle3 input[type="button"] {
  background: #311465;
  border: 1px solid #311465;
  padding: 5px 15px 5px 15px;
  color: #ffffff;
  box-shadow: inset -1px -1px 3px #311465;
  -moz-box-shadow: inset -1px -1px 3px #311465;
  -webkit-box-shadow: inset -1px -1px 3px #311465;
  border-radius: 3px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  font-weight: bold;
}
.required {
  color: red;
  font-weight: normal;
}
