
.head6 {
  color: #2e186a;
  margin: auto;
  font-size: 2.575rem;
  padding: 0.5rem 0;
  border-bottom: 3px solid #2e186a;
  width: 15rem;
  text-align: center;
  margin-top: 3rem;
}

/* @media screen and (min-width: 320px) and (max-width: 480px) {
}

@media screen and (min-width: 481px) and (max-width: 768px) {
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
}

@media screen and (min-width: 1201px) {
} */
