.header {
  width: 100%;
  height: 8rem;
  font-size: 1.7rem;

  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 90;
  background-color: var(--white);
  box-shadow: var(--box-shadow);
}

/*-----------------------------------
-----------------------------------
*/
.navi {
  display: flex;

  justify-content: space-between;
}

.new h5 {
  font-size: 2.5rem;

  overflow: visible;
}
.new {
  display: flex;
  justify-content: center;
  align-items: center;
}
.imagest {
  width: auto;

  height: 8rem;
}
.loginnav {
  display: flex;
  gap: 2rem;
}
.mainnav {
  margin: 2rem;
}

.mainnav ul li {
  list-style: none;
}

.btn {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border: none;
  padding: 0 26px;
  height: 40px;
  line-height: 40px;
  border-radius: 15px;
  background-color: #311465;
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-size: 16px;

  transition: background 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
}

.btn:hover {
  background: rgb(87, 4, 150);
}

.anch:link,
.anch:visited {
  color: #311465;
  text-decoration: none;
  border-bottom: 1px solid #311465;
  padding-bottom: 1px;
  transition: border-bottom 0.2s, color 0.2s;
}
.anch:hover,
.anch:active {
  color: #311465;
  text-decoration: none;
  border-bottom: 3px solid #311465;
  padding-bottom: 1px;
  transition: border-bottom 0.2s, color 0.2s;
}
